langchain>=0.1.15 
langchain-core>=0.1.40
langchain_community>=0.0.32
langchain-openai>=0.0.8
openai>=1.10.0
faiss-cpu>=1.7.4
beautifulsoup4>=4.12.2
requests>=2.31.0
python-dotenv>=1.0.0
sentence-transformers>=2.2.2
fastapi
uvicorn
langchain_huggingface
psycopg2-binary